<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TallerJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TallerServlet</display-name>
    <servlet-name>TallerServlet</servlet-name>
    <servlet-class>taller.servlet.TallerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TallerServlet</servlet-name>
    <url-pattern>/TallerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActualizar</display-name>
    <servlet-name>ServletActualizar</servlet-name>
    <servlet-class>taller.servlet.ServletActualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizar</servlet-name>
    <url-pattern>/ServletActualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminar</display-name>
    <servlet-name>ServletEliminar</servlet-name>
    <servlet-class>taller.servlet.ServletEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminar</servlet-name>
    <url-pattern>/ServletEliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListar</display-name>
    <servlet-name>ServletListar</servlet-name>
    <servlet-class>taller.servlet.ServletListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListar</servlet-name>
    <url-pattern>/ServletListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>taller.servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletIngresarUsuario</display-name>
    <servlet-name>ServletIngresarUsuario</servlet-name>
    <servlet-class>taller.servlet.ServletIngresarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIngresarUsuario</servlet-name>
    <url-pattern>/ServletIngresarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistrarUsuario</display-name>
    <servlet-name>ServletRegistrarUsuario</servlet-name>
    <servlet-class>taller.servlet.ServletRegistrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarUsuario</servlet-name>
    <url-pattern>/ServletRegistrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActualizarUsuario</display-name>
    <servlet-name>ServletActualizarUsuario</servlet-name>
    <servlet-class>taller.servlet.ServletActualizarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarUsuario</servlet-name>
    <url-pattern>/ServletActualizarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminarUsuario</display-name>
    <servlet-name>ServletEliminarUsuario</servlet-name>
    <servlet-class>taller.servlet.ServletEliminarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminarUsuario</servlet-name>
    <url-pattern>/ServletEliminarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarUsuario</display-name>
    <servlet-name>ServletListarUsuario</servlet-name>
    <servlet-class>taller.servlet.ServletListarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarUsuario</servlet-name>
    <url-pattern>/ServletListarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistrarEmpresa</display-name>
    <servlet-name>ServletRegistrarEmpresa</servlet-name>
    <servlet-class>taller.servlet.ServletRegistrarEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarEmpresa</servlet-name>
    <url-pattern>/ServletRegistrarEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActualizarEmpresa</display-name>
    <servlet-name>ServletActualizarEmpresa</servlet-name>
    <servlet-class>taller.servlet.ServletActualizarEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarEmpresa</servlet-name>
    <url-pattern>/ServletActualizarEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminarEmpresa</display-name>
    <servlet-name>ServletEliminarEmpresa</servlet-name>
    <servlet-class>taller.servlet.ServletEliminarEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminarEmpresa</servlet-name>
    <url-pattern>/ServletEliminarEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarEmpresa</display-name>
    <servlet-name>ServletListarEmpresa</servlet-name>
    <servlet-class>taller.servlet.ServletListarEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarEmpresa</servlet-name>
    <url-pattern>/ServletListarEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBuscadorSimpleCont</display-name>
    <servlet-name>ServletBuscadorSimpleCont</servlet-name>
    <servlet-class>taller.servlet.ServletBuscadorSimpleCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBuscadorSimpleCont</servlet-name>
    <url-pattern>/ServletBuscadorSimpleCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBuscadorAvCont</display-name>
    <servlet-name>ServletBuscadorAvCont</servlet-name>
    <servlet-class>taller.servlet.ServletBuscadorAvCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBuscadorAvCont</servlet-name>
    <url-pattern>/ServletBuscadorAvCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistrarBitacora</display-name>
    <servlet-name>ServletRegistrarBitacora</servlet-name>
    <servlet-class>taller.servlet.ServletRegistrarBitacora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarBitacora</servlet-name>
    <url-pattern>/ServletRegistrarBitacora</url-pattern>
  </servlet-mapping>
</web-app>